.navbar {
  background-color: #fff;
  color: black;
  padding: 0.5rem 1rem;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  /* margin-right: 1rem; */
}

.drawer__Button {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .search__Container {
    display: none;
  }
  .drawer__Button {
    display: block !important;
  }

  .navbar {
    justify-content: space-between;
  }
}
