.form__button {
  background-color: var(--color-primary) !important;
  color: var(--white);
  transition: var(--main-transition) !important;
  /* width: 50px; */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.form__button:hover {
  background-color: var(--color-secondary) !important;
  transition: var(--main-transition) !important;
}

.form__button__disabled {
  background-color: #9b9b9b !important;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  transition: var(--main-transition) !important;
}

.form__button__disabled:hover {
  background-color: #9b9b9b !important;
  transition: var(--main-transition) !important;
}
