.container {
  width: 100%;
  padding: 2rem 2.5rem;
  overflow-y: scroll;
}

.flex {
  display: flex;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
  transition: var(--main-transition);
}

.summary__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  transition: var(--main-transition);
}

.summary__container__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 4rem 1rem 1.5rem;
  border: 1px solid #d6dbe2;
  border-radius: 12px;
  transition: var(--main-transition);
}

.summary__item_title {
  font-size: 1rem;
  font-weight: 500;
  transition: var(--main-transition);
}

.summary__value {
  font-size: 1.5rem;
  font-weight: 600;
  transition: var(--main-transition);
}
