.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-login);
  transition: var(--main-transition);
}

.login__form__container {
  background-color: var(--white);
  padding: 3rem;
  max-width: 440px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  transition: var(--main-transition);
}

.login__image__container {
  min-width: 240px;
}

.login__form__text__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  transition: var(--main-transition);
}

.login__form__text1 {
  font-size: 1.5rem;
  font-weight: 600;
  transition: var(--main-transition);
}

.login__form__text2 {
  font-size: 1rem;
  font-weight: 500;
  transition: var(--main-transition);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: var(--main-transition);
}

.login__form p {
  font-size: 1rem;
  font-weight: 500;
  transition: var(--main-transition);
}

.login__form__button {
  background-color: var(--color-primary);
  color: var(--white);
  transition: var(--main-transition);
  /* width: 50px; */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.login__form__button:hover {
  background-color: var(--color-secondary);
  transition: var(--main-transition);
}

.login__form__button__disabled {
  background-color: #9b9b9b;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  transition: var(--main-transition);
}

.login__form__button__disabled:hover {
  background-color: #9b9b9b;
  transition: var(--main-transition);
}

.forgot__password {
  display: flex;
  max-width: 440px;
  width: 100%;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  transition: var(--main-transition);
}

.forgot__password__text {
  font-size: 1rem;
  font-weight: 400;
  transition: var(--main-transition);
}

.forgot__password__link {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  transition: var(--main-transition);
}

.forgot__password__link:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  transition: var(--main-transition);
}

/* Media Queries */

@media screen and (max-width: 450px) {
  .login {
    background-color: var(--white);
  }

  .login__form__container {
    padding: 2rem;
  }

  .forgot__password {
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
}
