.flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 2rem 2.5rem;
  overflow-y: scroll;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
  transition: var(--main-transition);
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0;
  }
  .title {
    margin: 2rem 1rem;
  }
}
