.flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 2rem 2.5rem;
  overflow-y: scroll;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
  transition: var(--main-transition);
}

.settings {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.settings__update {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  transition: var(--main-transition);
}

.settings__update__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  transition: var(--main-transition);
}

.settings__update__form {
  display: flex;
  width: 100%;
  gap: 1.5rem 2.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem 0;
  transition: var(--main-transition);
}

.settings__update__form__item {
  max-width: 300px;
  width: 100%;
}

.settings__form__button__container {
  align-self: end;
}

.settings__form__button {
  background-color: var(--color-primary);
  color: var(--white);
  /* width: 50px; */
  height: 40px;
  align-self: baseline;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: var(--main-transition);
}

.settings__form__button:hover {
  background-color: var(--color-secondary);
  transition: var(--main-transition);
}

.settings__form__button__disabled {
  background-color: #9b9b9b;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  transition: var(--main-transition);
}

.settings__form__button__disabled:hover {
  background-color: #9b9b9b;
  transition: var(--main-transition);
}

.settings__table {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0;
  }

  .settings {
    justify-content: center;
    flex-wrap: wrap-reverse;
    /* width: 100%; */
    margin: 1rem;
  }

  .title {
    margin: 1rem;
  }
}
