.flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 2rem 2.5rem;
  overflow-y: scroll;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.5rem;
  transition: var(--main-transition);
}

.stock {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.stock__table {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .container {
    padding: 0;
  }
  .stock {
    justify-content: center;
    flex-wrap: wrap-reverse;
    /* width: 100%; */
    margin: 1rem;
  }

  .title {
    margin: 2rem 1rem;
  }
}
