.sidebar {
  background-color: #fff;
  color: black;
  /* padding: 0.5rem; */
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-login);
  /* border-right: #d4d4d4 solid 1px; */
}

.sidebar__logo__container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
}

.sidebar__links__container ul {
  list-style: none;
  /* padding: 1rem 2rem; */
}

.sidebar__links__container li {
  /* margin-bottom: 1.5rem; */
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.sidebar__link {
  padding: 0.7rem 2rem;
  transition: var(--main-transition);
}

.sidebar__link:hover {
  background-color: rgba(131, 187, 38, 0.34);

  transition: var(--main-transition);
}

.active {
  background-color: rgba(131, 187, 38, 0.34);
  transition: var(--main-transition);
}
